<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://thymeleaf.org/extras/spring-security" >
<head>
    <meta charset="UTF-8">
    <title>List of Posts</title>
    <link rel="stylesheet" type="text/css" href="/get_posts.css">
    <style>
        .post-box {
            border: 1px solid #ccc;
            padding: 10px;
            margin-bottom: 20px;
            cursor: pointer;
        }
        .post-content {
            display: none;
        }
        .formsearch {
            margin-bottom: 20px;
        }
        .formsearch input[type="text"] {
            padding: 5px;
            width: 200px;
        }
        .formsearch button {
            padding: 5px 10px;
            background-color: #007bff;
            color: #fff;
            border: none;
            cursor: pointer;
        }
        .a{
          display:none;
        }
    </style>
</head>
<body>
<div class="main">
    <h1>List of Posts</h1>
    <div class="formsearch">
        <form th:action="@{'/blog/filter/'+1}" method="get">
            <input type="text" name="query" placeholder="Search...">
            <button type="submit">Search</button>
        </form>
    </div>
    <div class="formsort">
        <form th:action="@{'/blog/filter/'+1}" method="get">
            <label for="sort">Sort By:</label>
            <select id="sort" name="sort">
                <option value="latest">Latest</option>
                <option value="oldest" selected>Oldest</option>
            </select>
            <input type="hidden" name="query" th:value="${param.query}" />
            <input type="hidden" name="author" th:each="selectedAuthor : ${param.author}" th:value="${selectedAuthor}" />
            <input type="hidden" name="taglist" th:each="selectedTag : ${param.taglist}" th:value="${selectedTag}" />
            <input type="hidden" name="startDateTime" th:value="${param.startDateTime}" />
            <input type="hidden" name="endDateTime" th:value="${param.endDateTime}" />

            <button type="submit">Sort</button>
        </form>
    </div>

    <form th:action="@{'/blog/filter/'+1}" method="get" class="formfilter">
      <div class="filter-authors">
            <label>Filter by Author:</label>
            <div th:each="authorName : ${authors}">
                <input type="checkbox" id="author_${authorName}" name="author" th:value="${authorName}">
                <label th:for="'author_' + ${authorName}" th:text="${authorName}"></label>
            </div>
      </div>
      <div class="filter-tags">
        <label>Filter by Tags:</label>
        <div th:each="tag : ${tags}">
            <input type="checkbox" id="tag_${tag.id}" name="taglist" th:value="${tag.name}">
            <label th:for="'tag_' + ${tag.id}" th:text="${tag.name}"></label>
        </div>
      </div><br>
        <input type="hidden" name="query" th:value="${query}" />
        <input type="hidden" name="sort" th:value="${sort}" />
        <label for="startDateTime">Start Date and Time:</label>
        <input type="datetime-local" id="startDateTime" name="startDateTime"><br><br>

        <label for="endDateTime">End Date and Time:</label>
        <input type="datetime-local" id="endDateTime" name="endDateTime"><br><br>

        <button type="submit">Apply Filters</button>
    </form>

    <div class="container">
        <div th:each="post : ${posts}">
            <a th:href="@{'/blog/readForm?formId=' + ${post.id}}">
                <div class="box post-box">
                    <h2 th:text="${post.title}"></h2>
                    <p th:text="${post.author?.name}"></p>
                    <p th:text="${post.publishedAt}"></p>
                    <p th:text="${post.excerpt}"></p>
                </div>
            </a>
        </div>


    </div>
    <div>

        <div sec:authorize="hasAnyRole('AUTHOR', 'ADMIN')">
            <a th:href="@{/blog/createpost}">
                <button>Create Post</button>
            </a>
        </div><br>
        <div>
            <a th:href="@{/blog/createpost}">
                <button>Login to Create Post</button>
            </a>
        </div><br>

        <form th:action="@{/logout}" method="POST">
            <input type="submit" value="Logout" />
        </form>

    </div>

    <div class="pagination" th:if="${totalPages > 1}">
        <div class="row">

            <div class="col">
                <form th:action="@{'/blog/filter/' + ${currentPage - 1}}" class="prev-page" th:if="${currentPage > 1}" method="get">

                    <input type="hidden" name="query" th:value="${query}" />
                    <input type="hidden" name="author" th:each="selectedAuthor : ${param.author}" th:value="${selectedAuthor}" />
                    <input type="hidden" name="taglist" th:each="selectedTag : ${param.taglist}" th:value="${selectedTag}" />
                    <input type="hidden" name="startDateTime" th:value="${startDateTime}" />
                    <input type="hidden" name="endDateTime" th:value="${endDateTime}" />
                    <input type="hidden" name="sort" th:value="${sort}" />

                    <button type="submit">Previous</button>
                </form>
            </div>

            <div class="col">
                <form th:if="${currentPage < totalPages}"  th:action="@{'/blog/filter/' + ${currentPage + 1}}" class="next-page"  method="get">

                    <input type="hidden" name="query" th:value="${query}" />
                    <input type="hidden" name="author" th:each="selectedAuthor : ${param.author}" th:value="${selectedAuthor}" />
                    <input type="hidden" name="taglist" th:each="selectedTag : ${param.taglist}" th:value="${selectedTag}" />
                    <input type="hidden" name="startDateTime" th:value="${startDateTime}" />
                    <input type="hidden" name="endDateTime" th:value="${endDateTime}" />
                    <input type="hidden" name="sort" th:value="${sort}" />

                    <button type="submit">NEXT</button>
                </form>
            </div>

        </div>
    </div>

</div>
</body>
</html>




