<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Update Post</title>
    <link rel="stylesheet" type="text/css" href="/update_post.css">
</head>
<body>
<h2>Update Post</h2>
<form th:action="@{/blog/updatePost}" th:object="${post}" method="post">
    <input type="hidden" th:field="*{id}" />
    <label>Title:</label>
    <input type="text" th:field="*{title}" />
    <br>
    <label>Content:</label>
    <textarea th:field="*{content}"></textarea>
    <br>
    <label>Tags:</label>
    <input type="text" th:field="*{tags}" />
    <br>
    <input type="submit" value="Update Post" />
</form>
</body>
</html>


